.launch-button {
    background-color: #000000;
    opacity: 0.8;
    border: 5px solid #eeeeee;
    color: #ffffff;
    font-size: 24px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
    box-shadow: none;
    transition: 0.6s all ease-in-out;
}

.launch-button:hover {
    background-color: #eeeeee;
    color: #000000;
    border: 5px solid #4d4d4d;
    box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px rgb(209, 0, 0),
    0 0 140px 90px rgb(0, 204, 204);
    transition: 0.6s all ease-in-out;
}